[submodule "dependencies/micro-logger"]
	path = dependencies/micro-logger
	url = https://github.com/str0g/micro-logger
[submodule "dependencies/dfrobot-sen0251"]
	path = dependencies/dfrobot-sen0251
	url = https://github.com/str0g/dfrobot-sen0251
